 -----
 Introduction
 -----
 Hervé Boutemy
 -----
 2013-07-23
 -----

${project.name}

  Analyzes the dependencies of a project for undeclared or unused artifacts.

  <<Warning>>: Analysis is not done at source but bytecode level, then some cases are not detected
  (constants, annotations with source-only retention, links in javadoc) which can lead to wrong result
  if they are the only use of a dependency.

  Main component is <<<ProjectDependencyAnalyzer>>>
  ({{{./apidocs/org/apache/maven/shared/dependency/analyzer/ProjectDependencyAnalyzer.html}javadoc}}), which uses
  <<<ClassAnalyzer>>>
  ({{{./apidocs/org/apache/maven/shared/dependency/analyzer/ClassAnalyzer.html}javadoc}})
  and <<<DependencyAnalyzer>>>
  ({{{./apidocs/org/apache/maven/shared/dependency/analyzer/DependencyAnalyzer.html}javadoc}}).
